/**
 * Created by TheColdPrince/ Jomar Romero Balmores
 * 14 September 2023
 */

/*******************************************************************************
 * Reset and Base Styles
 ******************************************************************************/

/* Reset default margin and padding */
body, h1, h2, h3, p, ul, ol, li, button, label, summary, input, textarea, code {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a base font family and color */
body {
  font-family: "Helvetica Neue", sans-serif;
  color: #333; /* Adjust as needed */
}

/*******************************************************************************
 * Element Styles
 ******************************************************************************/

body {
  max-width: 66ch;
  margin: 0 auto;
  padding: 15px;
}

p {
  text-align: justify;
  line-height: 1.5;
}

ul, ol {
  padding-left: 1em;
}

ol li {
  margin-bottom: 1em;
}

button {
  padding: 10px 20px;
  background: #007AFF; /* Apple's primary color */
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

summary {
  font-weight: bold;
  margin-bottom: 5px;
  user-select: none;
}

input, textarea {
  padding: 10px;
  border: 0.5px solid #ccc; /* Light gray border */
  border-radius: 3px;
  margin-bottom: 15px;
  width: 100%;
  resize: none;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1em;
}

input[type="checkbox"] {
  cursor: pointer;
  margin-right: 0;
}

hr {
  margin-top: 3em;
  margin-bottom: 3em;
  border: none;
  border-top: 1px solid #ccc; /* Light gray border */
}

footer hr {
  margin-bottom: 1em;
  border-top: 1px solid #333; /* Dark gray border */
}

footer p {
  text-align: center;
}

*[aria-disabled="true"] {
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
}

code {
  font-family: monospace, monospace;
  padding: 0 3px;
}

/*******************************************************************************
 * Classes
 ******************************************************************************/

/* View on GitHub SVG ribbon */
@media (max-width: 100ch) {
  .ribbon {
    width: 100px;
    height: 100px;
  }
}

.ribbon {
  position: absolute;
  top: 0;
  right: 0;
}

/* Error area */
.red-border {
  border: 3px solid red;
  padding: 2em;
  text-align: center;
  background-color: #FFEBE6; /* Light red background */
}

.error, .error p {
  color: red;
}

/* Password & Confirm Password inputs */
.split-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.password, .confirm-password {
  flex: 1;
  margin-left: 20px;
}

/* Advanced settings */
#advanced-label {
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
}

.advanced {
  display: flex;
  flex-wrap: wrap;
}

.advanced .labeled-input {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.advanced .labeled-input label {
  margin-right: 20px;
  white-space: nowrap;
  cursor: pointer;
  font-weight: bold;
}

.advanced .labeled-input input {
  margin-right: 5px;
}

/* Output area */
.output input {
  background: #EBEBEB; /* Light gray background */
}

.alert {
  opacity: 0;
  transition: opacity 0.25s;
}

/* Bookmarks that look like buttons, but different */
.bookmark {
  padding: 10px 20px;
  background: none;
  color: #007AFF; /* Apple's primary color */
  border: 1px solid #007AFF; /* Apple's primary color */
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 5px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.bookmark:hover {
  background: #007AFF; /* Apple's primary color */
  color: white;
}

.bookmark[aria-disabled="true"] {
  background: #EBEBEB; /* Light gray background */
  color: #999; /* Light gray text */
}

/* Buttons on the same line as inputs */
.inline-button-container {
  display: flex;
  flex-wrap: wrap;
}

.inline-button-container * {
  margin: 5px;
}

.inline-button-container input {
  margin-left: 0;
}

